/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.base-text {
  font-size: $sc-base-font-size;
}

.home {
  margin-top: -40px;
}

.home-jumbotron {
  background: -moz-linear-gradient(top, rgba(218,237,254,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(218,237,254,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(218,237,254,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daedfe', endColorstr='#00ffffff',GradientType=0 );
  max-height: 400px;


  @media (min-width: $screen-sm-min) {
    background-position:right;
    background: url("http://sandbox.seedsavers.org/site/assets/squash-harvest-banner.jpg ") 60% 0%;
    min-height: 600px;
    background-size: cover;
  }
}

.home h1, .home h2 {
  font-family: 'CrimsonText';
  font-weight: 400;
  padding: $sc-base-padding * 4 0;
  text-transform: none;
}

.home h1 {
  font-size: $sc-h2-font-size * 2;
  font-size: 44px;
}

.home h2 {
  font-size: $sc-h2-font-size * 1.5;
  font-size: 33px;

}

.home p {
  padding: $sc-base-padding * 3 0
}

.home-jumbotron-content {
  padding: $sc-base-padding * 4 0;
}

.home p {
  font-size: $sc-h3-font-size;
  color: $sse-color-dark-copy;
}

// .home-shop-button {
//   @extend .button-primary;
//   @extend .button-large;
//   color: $sse-color-white;
//   margin: $sc-base-margin *3 0;
// }

.home-event-button {
  @extend .button-secondary;
  @extend .button-large;
  margin: $sc-base-margin *2 0;
}

// New Code -- Justus

.home-three-buttons{
  display: block;
}

.banner-buttons{
  @extend .button-primary;
  @extend .button-small;
  color: $sse-color-white;
  margin: 15px 10px 0px 0px;
  min-width: 70px;
  -webkit-box-shadow: -2px 2px 2px rgba(0,0,0,.3);
  -moz-box-shadow: -2px 2px 2px rgba(0,0,0,.3);
  box-shadow: -2px 2px 2px rgba(0,0,0,.3);
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.banner-buttons:hover{
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.buyintro-btn p{
    color:#2f9ac3;
}

.buyintro-btn p:hover{
    color:#50b0d5;
    text-decoration: underline;
}

// End New Code -- Justus


.home-video{
  padding-top: $sc-base-padding * 16;
}

.home-video .cms-video{
  margin: 0;
}

.home-shop, .home-event{
  padding: $sc-base-padding * 16 0;
}

.home-work {
  background-color: $sse-color-lightgreen;
  padding: $sc-base-padding * 8 0;
}

.home-quote-container {
  margin-top: 80px;
  background: url("http://www.seedsavers.org/site/assets/staffblue.jpg");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;

  @media (min-width: $screen-md-min) {
  background: url("http://www.seedsavers.org/site/assets/staffblue.jpg");
  min-height: 530px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  // padding-bottom: $sc-base-padding * 16;

}
}

.home-quote{

  padding-top: 100px;
  text-align: center;

  @media (min-width: $screen-md-min) {
  text-align: center;
  padding-top: 11%;
}
}

.home-quote p{
  color: rgba(255,255,255,.9);
      text-shadow: -2px 2px 1px rgba(0,0,0, .2);
}

.home-quote h2 {
  font-style: italic;
  color: rgba(255,255,255,.9);
      text-shadow: -2px 2px 1px rgba(0,0,0, .2);
  font-size:30px;
    @media (min-width: $screen-md-min) {
  font-size: 40px;
      text-shadow: -2px 2px 1px rgba(0,0,0, .2);
}
}
.join-today-btn{
  margin: 50px auto 20px auto;

  @media (min-width: $screen-sm-min) {
    margin: 50px auto 0px auto;
}
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  margin-top:$sc-base-margin * 4;
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}
.home-image-slider {
  @extend .col-sm-12;}

// start bx-slider specifics
$sc-image-slider-height: 400px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-base-margin * 8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-base-margin * 2;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  height: $sc-image-slider-height !important;
}
.home-image-slider .bx-viewport ul li {
  overflow:hidden;
}

.home-image-slider .bx-wrapper img {
  margin: auto 0;
  margin-top:$sc-base-margin * 20;
  float:none;
  @media (min-width: $screen-sm-min) {
    max-width: $sc-image-slider-max-width !important;
    float:right;
    margin: 0 $sc-base-margin * 12 0 0;
    width:350px;
  }
}

.home-gallery-prev-icon, .home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color:#c5d7e0;
}

.home-gallery-prev-icon {
  left: $sc-base-margin * 6;
  @extend .icon-angle-left;

}

.home-gallery-next-icon {
  right:10px;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {

  a {
    color: $sc-color-theme-light !important;
    background-color: $sc-color-theme-light!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size:0;
    text-indent:-9999px;
  }
  a.active{
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {

  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-medium-margin;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}
// end bx-slider specifics

.home-banner-main {
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}

.home-banner-main-cell-nth0{
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align:center;
  margin-bottom:$sc-medium-margin;

  img {
    margin:auto;
    float:left;
    @media (min-width: $screen-sm-min) {
      max-width:100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}
.home-banner-main-cell-bg{
  background:$sc-color-slide-background;
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text{
  display:inline-block;
  color:$sc-color-theme;
  font-size:$sc-h2-font-size-mobile;
  text-transform:uppercase;
  font-weight:$sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display:none;
  }
}

.home-merchandising-zone {

  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
      display: none;
  }
  .item-cell-main-image {
    margin:0 auto;
    width: $img-medium;
  }
}

.home-slide-main-container{
  background:$sc-color-slide-background;
  overflow:hidden;
  height:400px;
  text-align:center;
  @media (min-width: $screen-sm-min) {
    height:100%;
  }
}
.home-slide-caption{
  position:absolute;
  top:0px;
  width:100%;
  text-align:center;
  padding:$sc-small-margin;
  height:80%;
  @media (min-width: $screen-sm-min) {
    width:50%;
    padding:$sc-base-padding * 8 $sc-base-padding * 12;
    padding-right:0px;
    text-align:left;
    height: auto;
    position: relative;
  }

  h2.home-slide-caption-title{
      margin-bottom:$sc-small-margin;
      font-size:$sc-base-font-size * 2.66;
      line-height: $sc-base-font-size * 2.66;
      color:$sc-color-secondary;
      @media (min-width: $screen-sm-min){
          margin-bottom:$sc-medium-margin;
      }
  }
  p{
    display:none;
    @media (min-width: $screen-xs-min){
      display:block;
      margin-bottom:$sc-medium-margin;
      color:$sc-color-theme;
      font-size:$sc-h2-font-size-mobile;
      text-transform:uppercase;
      font-weight:$sc-font-weight-light;
    }
    @media (min-width: $screen-sm-min){
      font-size:$sc-h2-font-size;
    }
  }

  .home-slide-caption-button-container{
    padding-left:$sc-base-padding *4;
    padding-right:$sc-base-padding *4;
    position:absolute;
    margin-left: -$sc-base-padding *2;
    bottom:-60px;
    width: 100%;
    @media (min-width: $screen-sm-min){
      padding:0;
      margin-left:0;
      margin-right:0;
      position:relative;
      bottom:0px;
    }
  }

  .home-slide-caption-button{
    @extend .button-primary;
    @extend .button-large;
    @media (min-width: $screen-xs-min){
      width: auto;
      position:relative;
    }
  }
}

.home-merchandizing-zone{}
.home-image-slider-list{}


//New Styling

.img-banner-txt{
  @media (min-width: $screen-sm-min){
    font-size: $sc-h3-font-size !important;
  }
  @media (min-width: $screen-md-min){
    font-size: 20px !important;
  }
  font-size: 16px !important;

}

.img-banner{
  @media (min-width: $screen-sm-min){
    width: auto;
    max-width: 179px;
  }
  margin: auto;
  width: 90%;
  max-width: 179px;

}

// Donation Bar

.red-banner-home{
	width: 100%;
	background-color: rgb(181, 64, 44);
	text-align: center;
	margin-top: -40px;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);

}

.red-banner-txt-home{
	color: #FFF !important;
	padding: 15px !important;
	font-family: 'CrimsonText';
	font-size: 16px !important;

  @media (min-width: $screen-xs-min) {
    font-size: 18px !important;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 26px !important;
  }
	@media (min-width: $screen-md-min) {
		font-size: 30px !important;
	}

}


.red-banner-home-alt{
	width: 100%;
	background: rgb(181, 64, 44);
  padding: 10px 0px;
	text-align: left;
	margin-top: -40px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.2);
}


.red-banner-txt-home-a{
  font-family: 'CrimsonText';
  line-height: 1.1;
  padding: 0px !important;
	color: #FFF !important;
	font-size: 24px !important;
  text-shadow: -1px 1px 1px rgba(0,0,0,.2);
	@media (min-width: $screen-xs-min) {
		font-size: 2.3rem !important;
	}
}
.red-banner-txt-home-b{
  line-height: 1.1;
  padding: 0px !important;
	color: #FFF !important;
	font-family: 'CrimsonText';
	font-size: 18px !important;
  text-shadow: -1px 1px 1px rgba(0,0,0,.2);
	@media (min-width: $screen-xs-min) {
		font-size: 20px !important;
	}
}

.red-bar-txt-all{
  text-align: center;

  @media (min-width: $screen-sm-min) {
		text-align: left;
	}

}

.red-bar-button-col{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: $screen-xs-min) {
    margin-bottom: 10px;
  }
  @media (min-width: $screen-sm-min) {
    margin-top: 12px;
	}
}

// .red-bar-button{
//   color: #fff;
//   border: solid 1px #fff;
//   font-weight: bold;
// }
//
// .red-bar-button:hover{
//   color: #fff;
// }


/////////////////////////////
//button-4
///////////////////////////
.red-bar-button {
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  padding: 10px 30px;
  z-index: 999;
  position: relative;
  display: inline-block;


  &:after {
  background: #fff;
  overflow: hidden;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .1;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;


  -webkit-animation-name: test; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 550ms; /* Safari 4.0 - 8.0 */
  -moz-animation-name: test; /* Safari 4.0 - 8.0 */
  -moz-animation-duration: 550ms; /* Safari 4.0 - 8.0 */
  animation-name: test;
  animation-duration: 550ms;
      animation-delay: 2s;
}
}


@-moz-keyframes test {
    from {left: -75px;}
    to {left: 120%;}
}
@-webkit-keyframes test {
    from {left: -75px;}
    to {left: 120%;}
}
@keyframes test {
    from {left: -75px;}
    to {left: 120%;}
}

.red-bar-button:hover{
  color: #fff;
// &:after {
//   left: 120%;
//   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
// }
}



.shop-box{
  padding-top: 50px;
  padding-bottom: 50px;
}

.box-one{
  height: 630px;

  @media (max-width: $screen-sm-min) {
    max-height: 400px;
    max-width: 400px;
    margin: auto;
  }
}

.box-a, .box-b, .box-c, .box-d{
  height: 300px;

  @media (max-width: $screen-sm-min) {
    max-height: 400px;
    max-width: 400px;
    margin: auto;
  }
}

.box-a, .box-b {
  margin-top: 30px;

  @media (min-width: $screen-sm-min) {
    margin-top: 0px;
  }
}

.box-c, .box-d{
  margin-top: 30px;

}

.box-img-one{
background: url("http://www.seedsavers.org/site/img/shopping-img-a.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.box-img-a{
  background: url("http://sandbox.seedsavers.org/site/assets/black-valentine-bean.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.box-img-b{
  background: url("http://sandbox.seedsavers.org/site/assets/grandpa-otts-morning-glory.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.box-img-c{
  background: url("http://sandbox.seedsavers.org/site/assets/english-lavender.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.box-img-d{
  background: url("http://www.seedsavers.org/site/img/donate-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-text-block{
  padding: 0px 0px 10px 30px;
  position: absolute;
  bottom: 0;
}

.overlay-img-block{
  height: 100%;
  /*background-size: 100%;*/
  -webkit-box-shadow: inset 0px -46px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    inset 0px -46px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         inset 0px -46px 30px 0px rgba(0, 0, 0, 0.5);
transition:  .2s ease-in;
-moz-transition:  .2s ease-in;
-ms-transition: .2s ease-in;
-o-transition: .2s ease-in;
-webkit-transition: .2s ease-in;
}
.overlay-img-block:hover{
transition:  .2s ease-in;
-moz-transition:  .2s ease-in;
-ms-transition: .2s ease-in;
-o-transition: .2s ease-in;
-webkit-transition: .2s ease-in;
-webkit-box-shadow: inset 0px -66px 30px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    inset 0px -66px 30px 0px rgba(0, 0, 0, 0.5);
box-shadow:         inset 0px -66px 30px 0px rgba(0, 0, 0, 0.5);
}

.overlay-text-subtitle{
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-shadow:-1px 2px 0px #000000;
}

.overlay-text-title{
  display: block;
  margin-top: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-shadow:-1px 2px 0px #000000;
}
