/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-module-items-line-quantity-qty{
	@extend .item-views-cell-actionable-qty;
}

.quickorder-wizard-module-items-line-quantity-qty-form{
	@extend .item-views-cell-actionable-qty-form;
}

.quickorder-wizard-module-items-line-quantity-container-qty {
	margin-bottom: 10px;

	.quickorder-wizard-module-items-line-quantity-label-qty {
		vertical-align: middle;
		color: $sc-color-dark-copy;
		margin-bottom:$sc-small-margin;
		font-weight: 600;

		@media (min-width: $screen-sm-min) {
			display: table-cell;
		}

		@media (min-width: $screen-md-min) {
			display: none
		}
	}
	.quickorder-wizard-module-items-line-quantity-input-qty {
		vertical-align: middle;
		overflow: hidden;
		padding-left: 0;

		@media (min-width: $screen-sm-min) {
			display: table-cell;
			padding-left: $sc-base-padding * 4;
		}

		@media (min-width: $screen-md-min) {
			padding-left: 0;
		}
	}
}

.quickorder-wizard-module-items-line-quantity-label-qty{
	@extend .item-views-cell-actionable-label-qty;
}

.quickorder-wizard-module-items-line-quantity-input-qty{
	@extend .item-views-cell-actionable-input-qty;
}

.quickorder-wizard-module-items-line-quantity-amount-value{
	@extend .amount-value;
}

.quickorder-wizard-module-items-line-quantity-title-help{
	clear: both;
	margin-top: $sc-base-margin;
	display: block;
	font-weight:$sc-font-weight-light;
}

.quickorder-wizard-module-items-line-quantity-add, .quickorder-wizard-module-items-line-quantity-remove{
	@extend .button-secondary;
	background-color:lighten($sc-color-theme, 20%);
	border:1px solid lighten($sc-color-theme, 20%);;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.quickorder-wizard-module-items-line-quantity-value {
	// height: $sc-target-size-mobile;
 	padding:$sc-base-margin * 2 $sc-base-padding * 3 $sc-base-margin * 2 $sc-base-padding * 3;
 	width: 90px;
 	text-align: right;
	background-color: #ebf1f4;
	border: 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}
