/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-module-items {
	margin-bottom: $sc-medium-margin;
}

.quickorder-wizard-module-items-table{
	@extend .table-flex-item-navigable;
	table-layout: fixed;

	.item-views-cell-actionable-table-last {
		@media (min-width: $screen-md-min) {
			text-align: right
		}
	}

	tr {
		@extend .recordviews-actionable-row;
	}

	.item-views-cell-actionable-table-middle {
		padding-top: $sc-base-padding * 3;
	}

	.item-views-cell-actionable-table-middle + .item-views-cell-actionable-table-middle {
		padding-top: 0;

		@media (min-width: $screen-md-min){
			padding-top: $sc-base-padding * 3;
		}
	}
}

.quickorder-wizard-module-items-header {
	@extend .recordviews-actionable-row;
	display: none;

	@media (min-width: $screen-md-min) {
		display: table-header-group;
		width: 100%;
	}
}
.quickorder-wizard-module-items-header-image {
	@extend .item-view-cell-navigable-item-image;
	font-size: $sc-base-font-size;
	font-weight: $sc-font-weight-semibold;
}
.quickorder-wizard-module-items-header-details {
	color:$sc-color-theme-light;
	font-size: $sc-base-font-size;
	font-weight: $sc-font-weight-semibold;
}
.quickorder-wizard-module-items-header-quantity,
.quickorder-wizard-module-items-header-totalprice,
.quickorder-wizard-module-items-header-amount {}
.quickorder-wizard-module-items-header-title {}
.quickorder-wizard-module-items-title {}
.quickorder-wizard-module-items-header-actions {}
