/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-module-comments {}
.quickorder-wizard-module-comments-title {
	margin-bottom: $sc-small-margin;
}
.quickorder-wizard-module-comments-box {
	@extend .box-column;
}
.quickorder-wizard-module-comments-box p {
	margin-bottom: $sc-small-margin;
}
.quickorder-wizard-module-comments-box p span {
	@extend .sc-label;
}
.quickorder-wizard-module-comments-box-textarea {
	@extend .input-textarea;

	@media (min-width: $screen-sm-min) {
		width: 50%;
	}
}
.quickorder-wizard-module-comments-box-message {
	padding: $sc-base-padding * 4 $sc-base-padding * 4 $sc-base-padding * 2;
	background: #FFFFFF;
}
.quickorder-wizard-module-comments-box-textarea-length {
	display: block;
	margin-top: $sc-small-margin;
}
.quickorder-wizard-module-comments-box-textarea-length-number{}
