{{!
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

{{#unless hideContent}}
	<div class="quickorder-wizard-module-comments">
		<div class="quickorder-wizard-module-comments-box">
			{{#if showTitle}}
				<h3 class="quickorder-wizard-module-comments-title">
					{{title}}
				</h3>
			{{/if}}
			{{#if isReadOnly}}
				<div class="quickorder-wizard-module-comments-box-message">
					<p>{{breaklines memo}}</p>
				</div>
			{{else}}
				<p>
					<label>{{translate 'Do you have any remarks or comments with this quote request?'}}</label>
					<span>{{translate ' (Optional)'}}</span>
				</p>
				<textarea data-action="validate-textarea-length" maxlength="{{maxLength}}" data-type="memo-input" class="quickorder-wizard-module-comments-box-textarea">{{memo}}</textarea>
				<small class="quickorder-wizard-module-comments-box-textarea-length">{{translate 'Maximum 999 characters.'}}</small>
			{{/if}}
		</div>
	</div>
{{/unless}}
