{{!
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="quickorder-wizard-module-items-line-quantity-qty">
	<form action="#" class="quickorder-wizard-module-items-line-quantity-qty-form" data-action="update-quantity" data-validation="control-group">
		<input type="hidden" name="internalid" id="update-internalid-{{lineId}}" class="update-internalid-{{lineId}}" value="{{lineId}}">
		<label for="quantity-{{lineId}}" data-validation="control">
			{{#if showQuantity}}
				<input type="hidden" name="quantity" id="quantity-{{lineId}}" value="1">
			{{else}}
				<div class="quickorder-wizard-module-items-line-quantity-container-qty">
					<label class="quickorder-wizard-module-items-line-quantity-label-qty">{{translate 'Quantity:'}}</label>
					<div class="quickorder-wizard-module-items-line-quantity-input-qty">
						<button type="button" class="quickorder-wizard-module-items-line-quantity-remove" data-action="minus" {{#if isMinusButtonDisabled}}disabled{{/if}}>-</button>
						<input data-type="quantity-input" type="number" name="quantity" id="quantity-{{lineId}}" class="quickorder-wizard-module-items-line-quantity-value quantity-{{lineId}}" value="{{model.quantity}}" min="{{minimumQuantity}}"/>
						<button type="button" class="quickorder-wizard-module-items-line-quantity-add" data-action="plus">+</button>
					</div>
					{{#if showMinimumQuantity}}
						<small class="quickorder-wizard-module-items-line-quantity-title-help">
							{{translate 'Minimum of $(0) required' minimumQuantity}}
						</small>
					{{/if}}
				</div>
			{{/if}}
			<div data-type="alert-placeholder"></div>
		</label>
	</form>
</div>
