/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-module-message {
	margin-bottom: $sc-medium-margin;
	margin-top: $sc-medium-margin;

	@media (min-width: $screen-sm-min) {
		margin-top: 0;
	}
}

.quickorder-wizard-module-message-disclaimer-message {
	margin-bottom: $sc-medium-margin;
}
