/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-layout-content {}
.quickorder-wizard-step-header-title{
	@extend .wizard-header-title;
}
.quickorder-wizard-step-title{}
.quickorder-wizard-step-content-main{}
.quickorder-wizard-step-content-secondary{}
.quickorder-wizard-step-button-container{}
.quickorder-wizard-step-button-continue{}
.quickorder-wizard-step-button-back{}
.quickorder-wizard-step-content-wrapper {}

.quickorder-wizard-step-content-main {}

.quickorder-wizard-step-content-right{
	@extend .col-xs-12;
	@extend .col-sm-4;
	float: right;
	margin-bottom: $sc-medium-margin;
}

.quickorder-wizard-step-actions{
	@extend .clearfix;
	margin-bottom: $sc-medium-margin;
}

.quickorder-wizard-step-button-container{
}

.quickorder-wizard-step-button-back{
	@extend .wizard-step-button-back;
}

.quickorder-wizard-step-actions .quickorder-wizard-step-button-container .quickorder-wizard-step-button-continue{
	@extend .button-large;
	@extend .button-primary;
	min-width: 190px;
}
.quickorder-wizard-step-disclaimer-bottom-content{
	margin-bottom: $sc-medium-margin;
	margin-top:$sc-small-margin;
	display: inline-block;
}
.quickorder-wizard-step-disclaimer-message {}
.quickorder-wizard-step-content-wrapper-bottom-content {}
.quickorder-wizard-step-content-wrapper-disclaimer-message {
	margin-bottom: $sc-medium-margin;
}
