/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.quickorder-wizard-permission-error {}

.quickorder-wizard-permission-error-header {
	@extend .view-header;
	position: relative;
}

.quickorder-wizard-permission-error-header-title {
	@extend .cart-title;

	@media (min-width: $screen-sm-min) {
		line-height: 42px;
	}
}

.quickorder-wizard-permission-error-message-disclaimer {}

.quickorder-wizard-permission-error-message {
	margin-bottom: $sc-medium-margin;
}

.quickorder-wizard-permission-error-button {
	@extend .button-secondary;
	@extend .button-medium;
	margin-top: $sc-medium-margin;
}
