/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details-image-gallery {
	position: relative;
}

.item-details-image-gallery .social-sharing-flyout-content-social-pinterest {
	display: none;
}

.item-details-image-gallery:hover .social-sharing-flyout-content-social-pinterest {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-details-image-gallery-detailed-image{}


.heirloom-banner, .historic-banner{
	position: absolute;
	width: 75px;
	top: 0;

	@media (min-width: $screen-xs-min) {
		width: 100px;
	}

}


.heirloom-banner {
	right: 0px;
	@media (min-width: $screen-xs-min) {
		right: 14%;
	}
	@media (min-width: $screen-sm-min) {
		right: 22%;
	}
	@media (min-width: $screen-md-min) {
		right: 0px;
	}
	@media (min-width: $screen-lg-min) {
		right: 4%;
	}
}

.historic-banner{
	left: 0px;
	@media (min-width: $screen-xs-min) {
		left: 14%;
	}
	@media (min-width: $screen-sm-min) {
		left: 22%;
	}
	@media (min-width: $screen-md-min) {
		left: 0px;
	}
	@media (min-width: $screen-lg-min) {
		left: 4%;
	}
}
