/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.shopping-layout {
	@extend %sc-layout;
}

.shopping-layout-header {
  border-bottom: 2px solid $sse-color-brown;
	background: rgb(244, 243, 239) url("http://sandbox.seedsavers.org/site/assets/vegetable-leaves.png") no-repeat scroll 70% 15%;
}

.shopping-layout-footer {
	@extend %sc-footer;
}

.shopping-layout-breadcrumb {
	@extend .container;
}

.shopping-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.shopping-layout-content{
	padding-top: $sc-base-padding * 8;
}
