/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-forgot-password{
	margin-top: 40px !important;
}

.login-register-forgot-password-body{

	background-color: $sc-color-theme-background;
	margin-top: $sc-medium-margin;
	margin-right: - $sc-base-margin * 3;
	margin-left:  - $sc-base-margin * 3;
	padding:$sc-base-padding *8 $sc-base-padding * 4;

	@media (min-width: $screen-sm-min){
		margin-right: 0;
		margin-left:  0;
		padding: $sc-base-padding * 8;
	}
}

.login-register-forgot-password-description{
	margin-top: $sc-medium-margin;
}

.login-register-forgot-password-form{
	margin-top: $sc-base-margin * 2;
	.global-views-message {
		margin-bottom: 0;
	}
}

.login-register-forgot-password-form-controls-group{
	margin-top: $sc-medium-margin;
}

.login-register-forgot-password-form-label{
	@extend .input-label;
}

.login-register-forgot-password-form-required{
	@extend .input-required;
}

.login-register-forgot-password-form-input{
	@extend .input-large;
}

.login-register-forgot-password-submit{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-forgot-password-sign-in{
	display:inline-block;
	margin-top: $sc-base-margin * 2;
}

.login-register-forgot-password-header{}
.login-register-forgot-password-header-title{}
.login-register-forgot-password-title{}
