/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

///////////////////////////////////////////////////////////////
//header secondary nav
.header-menu-secondary-nav {
	@extend .container;
}

///////////////////////////////////////////////////////////////
//header search

.header-menu-search {
	float: right;
}

.header-menu-search-link {
	@extend .middle-title-navigable;
	font-size: $sc-h2-font-size;
	background: none;
	padding: $sc-base-padding * 2;
	color: $sse-color-white;
	cursor: pointer;
	position: relative;
	line-height: 34px;
}
.header-menu-search-link:hover {
	color: $sse-color-lightgreen;
}
.header-menu-search-link.active {
	color: $sse-color-white;
}

.header-menu-search-icon {
	@extend .fa;
	@extend %fa-search;
}

.header-menu-searchmobile-link {
	@extend .icon-button-secondary;
	margin-right: $sc-base-margin * 2;
	cursor: pointer;
}

.header-menu-searchmobile-link.active {
	background: $sc-color-secondary-active;
}
///////////////////////////////////////////////////////////////
//header maxi menu

.header-menu-level1 {
	margin-left: - $sc-base-padding * 2;
}

.header-menu-level1 > li {
	float: left;
}

.header-menu-level1-anchor {
	display: block;
	position: relative;
	height: $sc-secondary-menu-height;
	line-height: $sc-secondary-menu-height;
	padding: 0 $sc-base-padding*2;
	margin-right: $sc-base-margin;
	color:$sc-color-secondary;
    font-weight:$sc-font-weight-semibold;
    text-transform: uppercase;
}

.header-menu-level1-anchor:hover{
	color: $sse-color-lightgreen;
}

.open .header-menu-level1-anchor{
	color: $sc-color-dark-copy;
}

.header-menu-home-anchor,
.header-menu-shop-anchor{
	@extend .header-menu-level1-anchor;
	color:$sse-color-white;
}

.header-menu-home-anchor:focus, .header-menu-shop-anchor:focus {
	color: $sse-color-lightgreen;
}

//maxi menu level 2
.header-menu-back {
	display: none;
}

.header-menu-level2 > li {
	float: left;
	// width: 20%;
	// padding-right: $sc-base-padding * 6;
}

.header-menu-level2-anchor {
	text-transform: uppercase;
	font-weight: $sc-font-weight-semibold;
	color: $sc-color-copy;
	padding-bottom: $sc-base-padding;
	margin-bottom: $sc-base-margin * 2;
	border-bottom: 1px solid $sc-color-theme-border;
	display: block;

	@media (min-width: $screen-md-min) {
		pointer-events: none;
	}
}
.header-menu-level2-anchor:hover {
	color: $sc-color-link;
}

//maxi menu level 3
.header-menu-level3-anchor {
	display: block;
	padding: $sc-base-padding 0;
	color: $sse-color-dark-copy;
}

.header-menu-myaccount-anchor-level3.active {
	color: $sse-color-dark-copy;
}


//container fix for maxi menu on desktop
.header-menu-push-icon, .header-menu-pop-icon {
	display: none;
}

.header-menu-level-container {
	// background-color: #fff;
	// display: none;
	// position: absolute;
	// top: 100%;
	// left: 0;
	// width: 100%;
	// min-height: 150px;
	// z-index: 1001;
	// padding: $sc-base-padding * 5 0;
	// border-bottom: 1px solid $sc-color-theme-border;
	// border-top: 1px solid $sc-color-theme-border;
	// @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
	// -webkit-box-shadow: -3px 3px 2px rgba(0,0,0,0.2);
	// -moz-box-shadow: -3px 3px 2px rgba(0,0,0,0.2);
	// box-shadow: -3px 3px 2px rgba(0,0,0,0.2);

	> li {
		@extend .container;
	}
}


//Accidental breakage Code for Account Menu ====================================

.header-menu-level-container-for-account-view {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: 150px;
	z-index: 1001;
	padding: $sc-base-padding * 5 0;
	border-bottom: 1px solid $sc-color-theme-border;
	border-top: 1px solid $sc-color-theme-border;
	@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
	-webkit-box-shadow: -3px 3px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: -3px 3px 2px rgba(0,0,0,0.2);
	box-shadow: -3px 3px 2px rgba(0,0,0,0.2);

	> li {
		@extend .container;
	}
}

.open .header-menu-level-container-for-account-view {
	display: block;
}

//End Extra Code for Account Menu ==============================================


//maxi menu opened
.open .header-menu-level-container {
	display: block;
}

.open .header-menu-level1-anchor:before{
	position: absolute;
	top: 47px;
	left: 50%;
	margin-left: -7.5px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #FFF;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.open .header-menu-level1-anchor:after{
	position: absolute;
	top: 48px;
	left: 50%;
	margin-left: -6.5px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #FFF;
	border-left: 6px solid transparent;
	content: '';
	z-index: 9999;
}

//New Menu Styling - Justus 9/27/16

.header-menu-level-container{
	position: absolute;
	top: 100%;
	z-index: 1000;
	display: none;
	float: left;
	width: 230px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	text-align: center;
	-webkit-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
	box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
}

.header-menu-level-container li{
	width: 230px;
	padding: 0px;
}

.header-menu-level2{
	max-width: 230px;
}

.header-menu-level2 > li, .header-menu-level3 li {
	position: relative;
	float: none;
	max-width: 230px;
}

.header-menu-level2 > li a{
	width: 100%;
}

.header-menu-level2 > li a:hover {
	background: $sc-color-primary;
	color: #fff;
}

.sub-dropdown:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #ccc;
margin-top: 5px;
margin-right: 5px;
}

.sub-dropdown:hover:after {
border-left-color: #fff;

}

.header-menu-level3 {
	display: none;
	width: 230px;
	left: 230px;
	top:0;
	background: #fff;
	position: absolute;
	padding: 5px 0px;
	-webkit-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
	box-shadow: -1px 1px 3px 2px rgba(0,0,0,0.1);
	z-index: 1001;
}

.header-menu-level3 li{
	position: relative;
	padding: 0px;
}

.header-menu-level3 li a{
	display: block;
	padding: 5px 0px;
	width: 100%;
	color: inherit;
}

.header-menu-level2 > li:hover .header-menu-level3, .header-menu-level3:hover{
	display: block;
}

.header-menu-level2 > li:focus .header-menu-level3, .header-menu-level3:focus{
	display: block;
}
