@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/crimsontext-regular-webfont.eot');
    src: url('../fonts/crimsontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-regular-webfont.woff') format('woff'),
         url('../fonts/crimsontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-regular-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-regular-webfont.svg#CrimsonText') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/crimsontext-italic-webfont.eot');
    src: url('../fonts/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-italic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-italic-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-italic-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-italic-webfont.svg#CrimsonText') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/crimsontext-bold-webfont.eot');
    src: url('../fonts/crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-bold-webfont.woff') format('woff'),
         url('../fonts/crimsontext-bold-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-bold-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-bold-webfont.svg#CrimsonText') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/crimsontext-bolditalic-webfont.eot');
    src: url('../fonts/crimsontext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimsontext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/crimsontext-bolditalic-webfont.svg#CrimsonText') format('svg');
    font-weight: bold;
    font-style: italic;
}
