/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    background: $sse-color-green;
}

.button-mc-subscribe {
  @extend .button-tertiary;
  color: $sse-color-white;
  background-color: $sse-color-green;
  border-color: $sse-color-white;
  padding: $sc-base-padding * 2 $sc-base-padding * 4;
  margin-top: $sc-base-margin * 2;
}

.button-mc-subscribe:hover {
  @extend .button-tertiary;
  color: $sse-color-green;
  background-color: $sse-color-white;
}

.input-mc-subscribe {
  padding: $sc-base-padding;
  margin-top: $sc-base-margin * 2;
  width: 100%;
}

.footer-content{
    @extend .container;
    @extend .row;
    margin: auto;
    padding-top: $sc-base-padding * 2;
}
.footer-content-nav {
    @extend .col-md-8;
    @extend .col-xs-12;
    padding-left: 0;
    padding-right: 0;
}
.footer-content-nav-list {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: $sc-base-padding * 6 0 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-base-padding * 5;
    }

    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}
.footer-content-nav-list > li {
    display: inline-block;
    margin-right: $sc-base-margin * 2;    font-weight: 300;
}
.footer-content-copyright {
    @extend .col-md-4;
    @extend .col-xs-12;
    text-align:center;
    font-size: $sc-base-font-size;
    color: $sse-color-white;
    padding: $sc-base-padding * 3 0;

    @media (min-width: $screen-md-min) {
        text-align: right;
        padding-top: $sc-base-padding * 5;
        padding-bottom: $sc-base-padding * 5;
        float: right;
    }
}

.footer-content h3 {
  color: $sse-color-white;
  padding: $sc-base-padding * 2 0;
}

.footer-content p,.footer-content a {
  color: $sse-color-white;
  // padding: $sc-base-padding * 1 0;
  padding: 2px 0;

}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-support {
  background-color: $sse-color-lightgreen;
  padding: $sc-base-padding * 2 0;
  text-align: center;
}

.footer-support p {
  font-size: $sc-h3-font-size-mobile;
  color: $sse-color-dark-copy;

  @media (min-width: $screen-md-min) {
    font-size: $sc-h3-font-size;
  }
}

.footer-wood {
  height: 8px;
  background: $sse-color-green url("http://sandbox.seedsavers.org/site/assets/wood-border.jpg");
}

.no-padding {
  padding: 0 !important;
}

.extra-top-padding {
  padding-top: $sc-base-padding * 4;
}

//Footer Icons Start

.twitter-icon, .facebook-icon, .pinterest-icon, .youtube-play-icon, .instagram-icon, .envelope-icon, .phone-icon {
  color: $sse-color-white;
  padding-right: $sc-base-padding * 2
}
.twitter-icon, .facebook-icon, .pinterest-icon, .youtube-play-icon, .instagram-icon {
  font-size: $sc-h1-font-size;
}

.envelope-icon, .phone-icon {
  font-size: $sc-h3-font-size;
}

.twitter-icon {
	@extend .fa;
	@extend %fa-twitter;
}

.facebook-icon {
	@extend .fa;
	@extend %fa-facebook;
}

.pinterest-icon {
	@extend .fa;
	@extend %fa-pinterest;
}

.youtube-play-icon {
	@extend .fa;
	@extend %fa-youtube-play;
}

.instagram-icon {
	@extend .fa;
	@extend %fa-instagram;
}

.envelope-icon {
	@extend .fa;
	@extend %fa-envelope;
}

.phone-icon {
	@extend .fa;
	@extend %fa-phone;
}

//Footer Icons End
