/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cms-landing-page {
	margin-top: -41px;
}

.cms-landing-page .container {

}

.cms-landing-page-row {
	@extend .row;
}
.cms-landing-page-row-full-col {
	@extend .col-md-12;
}

.cms-banner {
	min-height: 200px;
	background-position: center;
	background-size: cover;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		min-height: 400px;
	}
}

.cms-banner h1 {
	font-size: $sc-h1-font-size-mobile * 2;
	color: $sse-color-white;
	padding-top: $sc-base-padding * 20;
	text-shadow: 0px 2px 2px rgba(0,0,0,.4);


	@media (min-width: $screen-sm-min) {
		font-size: $sc-h1-font-size * 3;
		padding-top: $sc-base-padding * 60;
		text-shadow: 0px 2px 2px rgba(0,0,0,.4);
	}
}

.cms-gradient {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	min-height: 200px;

	@media (min-width: $screen-sm-min) {
		min-height: 400px;
	}
}

.cms-container-narrow {
  @extend .container;
  max-width: 750px;
  padding-bottom: $sc-base-padding * 8;
}

.cms-container-narrow h1, .cms-container-narrow h2 {
  color: $sse-color-green;
  text-transform: none;
  font-family: 'CrimsonText';
  font-weight: 400;
  padding-bottom: $sc-base-padding * 4;
}

.cms-container-narrow p {
  padding-bottom: $sc-base-padding * 4;

  @media (min-width: $screen-sm-min){
      font-size:16px;
  }

}

.container-normal p{
	@media (min-width: $screen-sm-min){
      font-size:16px;
  }
}

.cms-container-narrow ul>li, .container-normal ul>li {
	list-style: disc;
	list-style: inside;
	color:$sc-color-copy;
	line-height:1.4;
	text-indent: -1em;
	padding-left: 1em;
}

//Styling for normal size container- matching narrow contain

.container-normal{
	@extend .container;
}

.container-normal h1, .container-normal h2{
	color: $sse-color-green;
  text-transform: none;
  font-family: 'CrimsonText';
  font-weight: 400;
  padding-bottom: $sc-base-padding * 4;
}

//Padding for page content

.content-padding{
	padding-top: 30px;
}

//Padding for page content END END


p.intro {
		font-size: 15px;
	@media (min-width: 992px) {
		font-size: 18px !important;
	}
}

.cms-container-narrow img {
  margin: $sc-base-margin * 8 0;
  width: 100%;
}

.cms-video {
  position:relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  margin: $sc-base-margin * 8 0;
}

.cms-quote {
  text-align: center;
  padding: $sc-base-padding * 8 0;
}

.cms-quote h2 {
  font-style: italic;
	font-family: 'CrimsonText', serif;
	font-weight: 400;
	color: $sse-color-copy;
}

.did-you-know {
	border-left: 8px solid $sse-color-green;
	padding-left: $sc-base-padding * 4;
	margin-bottom: $sc-base-margin * 4;
}

.did-you-know p {
	padding-bottom: 0px
}

//new CSS Justus Added=========================================================

//Special styling for Customer Support Quote (donate page)

.customer-support {
	background: #fff;
	border: 1px solid #cccccc;
	padding: 16px;
	margin: 10px auto;
	max-width:600px;
}
.customer-support h2 {
	padding: 10px 0;
}

//Special Styling for finance button on finance page

.financial-btn{
	padding: 40px 10px;
	margin-top: 15px;
}

.financial-btn h3, .financial-btn p, .financial-btn i{
	color:#fff;
}

.financial-btn-right{
	margin-left: 0;

	@media (min-width: 992px) {
		margin-left: 15px;
	}
}

.financial-btn-row{
		padding-top: 0px;

		@media (min-width: 992px) {
			padding-top: 40px;
		}
}

//Special Styling for finance table on finance page

.financial-table .row p{
	line-height: .5;
}

// financial-table responsive

.financial-table{
	display: none;

	@media (min-width: 992px) {
		display: block;
	}

}

//normal list styling
//
// .bullet-list li{
// 	list-style: disc inside;
// }

//Visible phone and visible desktop responsive

.hidden-phone{
display: none;
@media (min-width: $screen-sm-min){
display: inline-block;
}

}

.visible-phone{
	display: inline-block;
@media (min-width: $screen-sm-min){
display: none;
}
}


//Donate Blue bar

.planned-giving{
	margin-top: 20px;
width: 100%;
padding: 10px 0 10px;
background-color: #309DBB;
color: #fff !important;
}

.planned-giving-txt p {
	color: #fff !important;

}


//leadership img padding

.leadership-img{
	padding-top: 15px;

}

// New Select Styling

.select-style {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.learn-side-navigation select{
    padding: 11px 20px;
		margin-top: 10px;

		@media (min-width: $screen-sm-min){
			margin-top: 0px;
	}
}

.grow-image {
	width: 100%;
	height: 500px;
	overflow: hidden;
	text-align: center;
}

// Withee Exhibit Styling ============================================================================


.main-content-pad{
	padding: 30px 0px 20px 0px;

}

// Landing Page - withee ===============================================================
.landing-bg{
	padding: 0px;
	@media (min-width: $screen-sm-min){
		padding: 20px;
	}
}

.landing-image {
width: 100%;
background-image: url("http://www.seedsavers.org/site/img/withee/LandingPageMaster-web.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: top left;
box-shadow: 0px 0px 2px 3px #D3BF94;
}

.landing-text-container{

	padding:10px;
	margin: 10px auto;

	@media (min-width: 1466px){
		padding-left:200px;
		padding-right: 200px;
		margin:120px 0px 300px 0px;
	}
}

.landing-text{
  width: 100%;
  background: rgba(42, 29, 21, .9);
  text-align: center;
	padding: 10px;
	@media (min-width: $screen-lg-min){
  padding:50px 100px;
	}

}

.landing-text h1{
	color: #D3BF94 !important;
text-shadow: -1px 1px 1px #E3A357 !important;
    font-weight:bold;
    margin:0;
}

.withee-landing-title{

	font-size: 24px;
	@media (min-width: $screen-sm-min){
		font-size: 54px;
	}
}

.withee-landing-title-sub{
	font-size: 16px;
	@media (min-width: $screen-sm-min){
		font-size: 40px;
	}
}

.landing-text p{
    color:#D3BF94 !important;
		font-size: 14px;

		@media (min-width: $screen-sm-min){
			font-size:20px;
		}
}

.landing-text a{
    color:#E3A357;
    text-decoration:underline;
}



.enter-the-site{
   text-align:right;
  background: rgba(42, 29, 21, .9);

}
//
// a.withee-landing-btn{
// 	border: 1px solid #E3A357;
// }


a.withee-landing-btn{
	display: inline-block;
	color: rgba(211, 191, 148, .9);
	font-weight:bold;
	font-size:18px;
	padding: 25px 20px;
	margin: 3px;
	border: 1px solid #E3A357;
	background: none;
	text-decoration: none !important;
}

a.withee-landing-btn:hover{
	color: rgba(227, 163, 87, .9);
	text-decoration: none !important;
}

.logo-1772{

	max-width: 200px !important;

	@media (min-width: $screen-md-min){
		max-width: 300px !important;

}

}

// Landing End ===============================================================

// Withee Navigation Menu ===============================================================

.withee-main-header{
		width:100%;
		text-align: center;
}

.withee-main-header-bg{
		width:100%;
		text-align: center;
		padding:30px;
		border-bottom:1px solid #9B805A;
		box-shadow:2px 2px 2px rgba(0,0,0,.5);
background: #2a1d15; /* Old browsers */
background: -moz-linear-gradient(left, #2a1d15 1%, #4b3925 50%, #2a1d15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2a1d15 1%,#4b3925 50%,#2a1d15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2a1d15 1%,#4b3925 50%,#2a1d15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1d15', endColorstr='#2a1d15',GradientType=1 ); /* IE6-9 */ /* IE6-9 fallback on horizontal gradient */ /* IE6-9 */
}

.withee-main-header-bg h1{
	color:#D3BF94 !important;
	text-shadow:-1px 1px 1px #E3A357;
	margin: 0px;
	font-size:35px;

	@media (min-width: $screen-md-min){
		font-size:45px;
}
	@media (min-width: $screen-lg-min){
		font-size:65px;
	}
}

.withee-nav-group{
}

.btn-size{
		width:99%;
		padding: 5px 0px;
		border: 1px solid #9B805A;
		box-shadow:0px 2px 1px rgba(0,0,0,.5);
		background:rgba(155,128,90,.1);

		@media (min-width: $screen-md-min){
			padding:10px 0px;
	}
		@media (min-width: $screen-lg-min){
			padding:15px 0px;
		}
}

.withee-nav-btn{
		color: rgba(211, 191, 148, .9);
		font-weight:bold;
		font-size:12px;

		@media (min-width: $screen-md-min){
			font-size:16px;
		}

}

.withee-nav-btn:hover{
		color: rgba(227, 163, 87, .9);
		text-decoration: none !important;
}

.withee-back-btn-a:hover{
	color: rgba(227, 163, 87, .9);
	text-decoration: none !important;
}

.withee-nav-btn:focus{
		color: rgba(227, 163, 87, .7);
		text-decoration: none !important;
}

.btn-size.withee-nav-active{
	border: 1px solid #E3A357;
	border: 1px solid rgba(227, 163, 87, .9);

}

.withee-nav-active{
	color: #E3A357;
	color: rgba(227, 163, 87, .9);
}




// Withee Navigation Menu End ===============================================================


//General Styling ===============================================================

.content-bg{
background: #1e1713 ; /* Old browsers */
background: -moz-linear-gradient(left, #1e1713 1%, #4b3925 50%, #1e1713 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e1713 1%,#4b3925 50%,#1e1713 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e1713 1%,#4b3925 50%,#1e1713 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1713', endColorstr='#1e1713',GradientType=1 ); /* IE6-9 */ /* IE6-9 */ /* IE6-9 fallback on horizontal gradient */ /* IE6-9 */
}



// Bean Man ===============================================================

.chapter .btn{
	background: none !important;
	text-align: center !important;
}

.withee-popover .popover{
	width: 250px !important;
}

.withee-main-content, .withee-main-beanpage{
		background: rgba(42,29,21,.6);
		color:#D3BF94 !important;
		/*border:1px solid #D3BF94;*/
		box-shadow: 0px 0px 2px 0px #D3BF94;
}

.withee-main-content p, .footnote li, .withee-main-beanpage p{
		color:#D3BF94 !important;
}
.withee-main-content h2, .withee-main-beanpage h2{
		color:#E3A357 !important;
}

.withee-main-content h3, .withee-main-beanpage h3{
		color:#E3A357 !important;
}

.withee-main-content a, .withee-main-beanpage a {
	text-decoration: underline;
	color:#E3A357 !important;
}

.withee-main-content .withee-main-content-heading{
margin-top: 10px;
color: #E3A357;
}

.withee-main-content-heading h2{
color: #E3A357;
}

.withee-back-btn{
		margin-top:40px;
}
.withee-back-btn-a{
		padding:20px 20px;
		color: #D3BF94;
		font-weight:bold;
		font-size:16px;
		border: 1px solid #9B805A;
		box-shadow:0px 2px 1px rgba(0,0,0,.5);
		background:rgba(155,128,90,.1);
}

.bean-ext-img{
	margin-top: 20px;
}

.beanman-img{
  margin: 0px !important;
}

.beanman-img-1{
      max-width: 200px;
    margin: 0px !important;
}

.beanman-img-2{
    max-width: 200px;
    margin: 0px !important;
}

.beanman-img-16{
    max-width:300px;
}

.withee-quote {
    font-size: 16px !important;
    font-style: italic;
    text-align:center !important;

		@media (min-width: $screen-sm-min){
			font-size:20px !important;
		}
}

.footnote li{
    font-size:12px;
		list-style: none !important;

}

.model-img-container{
    max-height: 700px;
    overflow: scroll;
    text-align: center;
}

.chapter h2{

	font-size: 20px;

	@media (min-width: $screen-sm-min){
		font-size:34px;
	}
}

.chapter p{
	font-size: 16px;
text-align: justify;

	@media (min-width: $screen-sm-min){
		font-size:18px;
	}
}

.beanman-modal-width{
	width: auto;

	@media (min-width: $screen-md-min){
		width: 900px;
	}
}

.beanman-img-alignment {
		text-align: center;
}


// Bean Man End ===============================================================


//Bean There Page Styling ===============================================================

.bean-there-content{
	min-height: 1000px;

	@media (min-width: $screen-sm-min){
		min-height:850px;
	}
}

.carousel-control.right, .carousel-control.left{
		background-image:none;
}

.carousel-inner > .item > img {
		width:auto;
		margin:auto;
}

.bean-there-nav{
	border-bottom: none !important;
}

.withee-modal-content{
	background: #1e1713;
}

.nav.nav-tabs.bean-there-nav li {
    text-indent: 0px;
		border-radius: 0px !important;
}

.nav.nav-tabs.bean-there-nav li:hover{
	background-color: none !important;
	border: 1px solid #E3A357;
}

.nav.nav-tabs.bean-there-nav li.active{
	background-color: none !important;
	border: 1px solid #E3A357;
	color: #E3A357 !important;
}

.nav.nav-tabs.bean-there-nav li.active a{
	color: #E3A357 !important;
}

.nav.nav-tabs.bean-there-nav li a {
    text-decoration: none;
		background-color: none !important;
		background: none !important;
		border-radius: 0px !important;
		color: #D3BF94 !important;
		padding: 10px 2px;
}

.nav.nav-tabs.bean-there-nav li a:hover{
	text-decoration: none;
	background-color: none !important;
	border: none;
	color: #E3A357 !important;
}

// Bean There Sizing and Placement ===============================================================


.withee-main-beanpage{
	margin:40px auto 0px auto;
	padding: 20px;
}

.withee-main-content{
		margin:40px auto 40px auto;
		padding:20px;
	}


	// Bean There Sizing and Placement End ===============================================================

	// Jewel Gallery ===============================================================


	.show-info{
	  display: none;
	  position: absolute;
	  padding: 5px 20px;
	  background:rgba(42, 29, 21, 1);
	  left: 15px;
	  right: 15px;
	  top:0px;
	  bottom:0px;
		@media (min-width: $screen-lg-min){
			padding: 0px 10px !important;
		}
	}

	.show-info-didyou{
		@extend .show-info;
		top:15px;
		bottom:16px;
		left: 26px;
		right: 26px;
	}

	.bean-fact-preview{
		position: absolute;
		padding: 20px;
		left: 25px;
		right: 25px;
		top:0px;
		bottom:0;
		@media (min-width: $screen-lg-min){
			padding: 0px 10px !important;
		}
	}



	.bean-fact-preview, .show-info  {
		max-width: 535px;
		text-align: center;

	}

	.show-info h3  {
		font-size: 18px !important;
		padding-top: 5px;

		@media (min-width: $screen-xs-min){
			font-size: 34px !important;
			padding-top: 20px;
		}
		@media (min-width: $screen-sm-min){
			font-size: 16px !important;
		}
			@media (min-width: $screen-md-min){
				font-size: 18px !important;
			}
			@media (min-width: $screen-lg-min){
				padding-top: 10px !important;
				font-size: 35px !important;
			}
	}

	.bean-fact-preview h3  {
			font-size: 18px !important;
			padding-top: 5px;

			@media (min-width: $screen-xs-min){
				font-size: 34px !important;
				padding-top: 20px;
			}
			@media (min-width: $screen-sm-min){
				font-size: 16px !important;
			}

			@media (min-width: $screen-md-min){
				padding-top: 25px !important;
				font-size: 22px !important;
			}

			@media (min-width: $screen-lg-min){
				padding-top: 25px !important;
				font-size: 35px !important;
			}
	}


.show-info p {

			font-size: 12px !important;
			padding-top: 3px;

			@media (min-width: $screen-xs-min){
				font-size: 18px !important;
			}
			@media (min-width: $screen-sm-min){
				font-size: 12px !important;
			}

			@media (min-width: $screen-md-min){
				font-size: 14px !important;
				padding-top: 10px;
			}
			@media (min-width: $screen-lg-min){
				font-size: 18px !important;
				padding-top: 10px;
			}
	}
	.bean-fact-preview p {

			font-size: 14px !important;
			padding-top: 3px;

			@media (min-width: $screen-xs-min){
				font-size: 20px !important;
			}
			@media (min-width: $screen-sm-min){
				font-size: 14px !important;
			}

			@media (min-width: $screen-md-min){
				font-size: 18px !important;
				padding-top: 10px;
			}
			@media (min-width: $screen-lg-min){
				font-size: 26px !important;
				padding-top: 10px;
			}
	}

 .show-info-didyou p{

	 			font-size: 12px !important;
	 			padding-top: 3px;

	 			@media (min-width: $screen-xs-min){
	 				font-size: 18px !important;
	 			}
	 			@media (min-width: $screen-sm-min){
	 				font-size: 10px !important;
	 			}

	 			@media (min-width: $screen-md-min){
	 				font-size: 12px !important;
	 				padding-top: 5px;
	 			}
	 			@media (min-width: $screen-lg-min){
	 				font-size: 18px !important;
	 				padding-top: 10px;
	 			}
	 	}

	// Jewel Gallery End ===============================================================

	// Join The Hunt ===============================================================

	.hunt-img-padding{

		margin-top: initial;

		@media (min-width: $screen-sm-min){
	  margin-top: 20px;
		}
	}

	.bean-fact-preview-jointhehunt{
			@extend .bean-fact-preview;

	}

		.bean-fact-preview-jointhehunt h3{

			padding-top: 5px;

			@media (min-width: $screen-xs-min){
				padding-top: 20px;
			}

			@media (min-width: $screen-md-min){
				padding-top: 10px !important;
			}

			@media (min-width: $screen-lg-min){
				padding-top: 20px !important;
			}

		}

	.bean-fact-preview-jointhehunt p{
		font-size: 12px !important;
		padding-top: 3px;


		@media (min-width: $screen-xs-min){
			font-size: 20px !important;
		}
		@media (min-width: $screen-sm-min){
			font-size: 12px !important;
		}

		@media (min-width: $screen-md-min){
			font-size: 15px !important;
			padding-top: 10px;
		}
		@media (min-width: $screen-lg-min){
			font-size: 18px !important;
			padding-top: 10px;
		}

	}


	// Join The Hunt End ===============================================================

	.bean-specific-title h2{
	  padding-bottom: 0px;
	}

	.click-img-story p{
	  padding: 0px;
	  margin: 3px 0px 20px 0px;
	  color: #E3A357 !important;

	}


	//
	// .global-views-back-to-top-withee{
	//     @extend .global-views-back-to-top;
	//
	// 		display: none;
	//
	// 		@media (min-width: $screen-sm-min) {
	// 				display: block;
	// 		}
	// }
