/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.checkout-layout {
	@extend %sc-layout;
}

.checkout-layout-header {
	@extend .shopping-layout-header
}

.checkout-layout-content{
	@extend .container;
}

.checkout-layout-footer {
	@extend %sc-footer;
}

.checkout-layout-breadcrumb{}

.checkout-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}
